
<% title = current_page.data.lecture_id.nil? ? nil : data.lectures.lectures.find {|l| l.id == current_page.data.lecture_id}.title %>

<% if title == nil
	title = current_page.data.title
   end %>

<% if title == nil
	title = "Tech Talks @NSU"
   else
   	title = title + " | Tech Talks @NSU"
   end %>



<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %> </title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
<% if current_page.data.lecture_id %>
	<meta property="og:title" content="<%= title %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= base_url %>" />
	<meta property="og:image" content="<%= base_url %>/<%= current_page.data.lecture_id %>/lecturer.jpg" />
<% else %>
	<meta property="og:title" content="<%= title %>" />
	<meta property="og:description" content="Tech Talks @NSU — еженедельные открытые лекции о разработке ПО и карьере в IT. Проводятся в Новосибирском государственном университете. Вход свободный." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= base_url %>" />
	<meta property="og:image" content="<%= base_url %>/img/logo-new.png" />
<% end %>
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= base_url %>/img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= base_url %>/img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= base_url %>/img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= base_url %>/img/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= base_url %>/img/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= base_url %>/img/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= base_url %>/img/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= base_url %>/img/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="<%= base_url %>/img/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="<%= base_url %>/img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="<%= base_url %>/img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="<%= base_url %>/img/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="<%= base_url %>/img/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Tech Talks @NSU"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="<%= base_url %>/img/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="<%= base_url %>/img/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="<%= base_url %>/img/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="<%= base_url %>/img/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="<%= base_url %>/img/mstile-310x310.png" />

	<link rel="stylesheet" href="<%= base_url %>/css/reset.css" media="all" />
	<link rel="stylesheet" href="<%= base_url %>/css/style.css" media="all" />

	<!--[if lt IE 9]>
		<script type="text/javascript" src="/js/html5.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/ie.css" media="all" />
	<![endif]-->


	<!-- <Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
	<script src="<%= base_url %>js/scripts.js"></script>
	<!-- Scripts> -->

</head>

<body>
	<div class="page-wrapper">
		<div class="header-wrapper">
			<header class="content-box">
				<nav class="head-navigation fright">
					<% if current_page.data.menu_item == "about" %>
					<span class="head-navigation-selected">О проекте</span>
					<% else %>
					<a href="<%= base_url %>/faq/about" class="head-navigation-link">О проекте</a>
					<% end %>

					<% if current_page.data.menu_item == "archive" %>
					<span class="head-navigation-selected">Архив лекций</span>
					<% else %>
					<a href="<%= base_url %>/archive" class="head-navigation-link">Архив лекций</a>
					<% end %>


					<% if current_page.data.menu_item == "speakers" %>
					<span class="head-navigation-selected">Докладчикам</span>
					<% else %>
					<a href="<%= base_url %>/faq/speakers" class="head-navigation-link">Докладчикам</a>
					<% end %>

					<% if current_page.data.menu_item == "contacts" %>
					<span class="head-navigation-selected">Контакты</span>
					<% else %>
					<a href="<%= base_url %>/faq/contacts" class="head-navigation-link">Контакты</a>
					<% end %>

				</nav>
				<a href="<%= base_url %>/" class="logo" style="">
					Tech Talks @NSU
					<img src="<%= base_url %>/img/logo.png" alt="">
				</a>
			</header>
		</div>
    <%= yield %>
                <div class="feedback-box-wrapper">
			<section class="content-box feedback-box text-center">
				<h2 class="med-title">Интересно? Оставьте вашу почту, чтобы быть в курсе расписания и анонсов лекций</h2>
				<form id="feedback" class="feedback-form" action="https://docs.google.com/forms/d/1pX4ZjRHJCMx3TYMW_YSFpa98Pu7kgfoqMrG020zC8KI/viewform"
					method="get">
					<input type="text" placeholder="Ваш e-mail" name="entry.1753437283">
					<input type="submit" value="Подписаться" class="red-button">
				</form>
			</section>
		</div>
		<section class="content-box socials-box text-center">
			<h2 class="med-title">Или подпишитесь на нас в соцсетях</h2>
			<a href="http://vk.com/TechTalksNSU" class="social-btn"><img src="<%= base_url %>/img/vk.jpg" alt="" style="width: 50px"></a>
			<a href="http://twitter.com/TechTalksNSU" class="social-btn"><img src="<%= base_url %>/img/tw.png" alt=""  style="width: 47px"></a>
			<a href="http://facebook.com/TechTalksNSU" class="social-btn"><img src="<%= base_url %>/img/fb.png" alt=""  style="width: 47px"></a>
			<a href="http://google.com/+TechTalksNSU" class="social-btn"><img src="<%= base_url %>/img/gplus.png" alt=""  style="width: 53px"></a>
			<a href="https://calendar.google.com/calendar/render?cid=nsu.software.industry.101%40gmail.com" class="social-btn"><img src="<%= base_url %>/img/calendar.png" alt="subscribe" style="width: 53px"></a>
			<a href="http://youtube.com/c/TechTalksNSU" class="social-btn"><img src="<%= base_url %>/img/YT.png" alt="" style="height: 50px">
		</section>
	</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter32779375 = new Ya.Metrika({
                    id:32779375,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/32779375" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
