
<div class="lecture">
                <% if lecture.lecturer_pic == true %>
        <div class="lecture-img-box">
                <% if current_page.data.lecturer_pic_override? %>
                <img src="<%= base_url %>/<%= lecture.id %>/<%= current_page.data.lecturer_pic_override %>" class="lecture-img" style="<%= current_page.data.lecturer_pic_style %>">
                <% else %> 
                <img src="<%= base_url %>/<%= lecture.id %>/lecturer.jpg" class="lecture-img" style="<%= current_page.data.lecturer_pic_style %>">
                <% end %> 

                <div class="lecture-img-layer"></div>
                <% if lecture.company_pic == true %>
                <div class="lecture-img-logo" style="<%= current_page.data.company_pic_style %>">
                        <img src="<%= base_url %>/<%= lecture.id %>/company.jpg" alt=""/ >
                </div>
                <% end %>
        </div>
        <% end %>
        <div class="lecture-content">
                <div class="lecture-date"><span class="red-bg"><%= russian_date(lecture.date, false) %> , <%= lecture.time %>
                </span></div>

                <h1 class="big-title lecture-title">
                <% if lecture.custom_url? %>
                        <a href="<%= base_url %>/<%= lecture.custom_url %>"><%= lecture.title %></a>

                <% else %>
                        <a href="<%= base_url %>/<%= lecture.id %>"><%= lecture.title %></a>
                <% end %>
                </h1>
                <div class="lecture-author"><%= lecture.lecturer %>
                        <% if lecture.lecturer_company != "" %>
                                , <%= lecture.lecturer_company %>
                        <% end %>
                </div>
                <div class="lecture-text">
                <%= lecture.description%>
                <% if lecture.mandatory_registration? %>
                <br><br>
                <% if defined? front_page %>
                Для участия в лекции необходимо <a href="<%= lecture.mandatory_registration%>">зарегистрироваться</a>.
                <% else %>
                Для участия в лекции необходимо зарегистрироваться с помощью формы ниже.
                <% end %>
                <% end %>
                </div>

                <% if lecture.location %>
                <div class="lecture-location">
                <%= lecture.location %>
                </div>
                <% if lecture.live_broadcast_url %>
                        <p>
                                <a href="<%= lecture.live_broadcast_url %>" class="live-link">Прямая трансляция</a>
                        </p>
                <% end %>
                <% end %>

                
        </div>
</div>